
<footer class="footerContainer">
    <div class="ExtraLinks">
        <div>
            <a href="https://www.flugger.dk/kontakt/butikker/"><span class="oi oi-map-marker" aria-hidden="true"></span>Find store near you</a>
        </div>
        <div><a href="https://www.flugger.dk/kontakt/kontakt-os/"><span class="oi oi-envelope-closed" aria-hidden="true"></span>Customer service</a></div>
    </div>
    <img class="logo" height="60" src="Images/logo.png" alt="Flügger"/>
    <div class="footerContent">
        <div class="col col-1">
            <p>Flügger Denmark A/S</p>
            <p>Islevdalvej 151</p>
            <p>2610 Rødovre</p>
        </div>
        <div class="col col-2">
            <h3>Colors, Inspiration, and Guides</h3>
            <a href="https://www.flugger.dk/farver/">All Colors</a>
            <a href="https://www.flugger.dk/farver-og-farveproever/farvekort/">Color Chart</a>
            <a href="https://www.flugger.dk/inspiration-guide/inspiration/">Inspiration</a>
            <a href="https://www.flugger.dk/inspiration-guide/saadan-goer-du/">How-to Guides</a>
            <a href="https://www.flugger.dk/hvad-skal-du-male/">What to Paint?</a>
            <a href="https://www.flugger.dk/malingordbogen/">Paint Dictionary</a>
        </div>
        <div class="col col-3">
            <h3>About</h3>
            <a href="https://www.flugger.dk/om-flugger/">Flügger</a>
            <a href="https://www.flugger.dk/flugger-andelen/">Flügger Shares</a>
            <a href="https://www.flugger.dk/om-flugger/flugger-og-miljoeet/">Flügger and the Environment</a>
            <a href="https://www.flugger.com/karriere/karriere-i-fl%C3%BCgger/">Career at Flügger</a>
            <a href="https://www.flugger.dk/tilmeld-nyhedsbrev/">Subscribe to Newsletter</a>
        </div>
        <div class="col col-4">
            <h3>Help & Information</h3>
            <a href="https://shop.flugger.dk/soeg/?q=*&category=Produkter">Find Data Sheets</a>
            <a href="https://www.flugger.dk/kontakt/">Contact</a>
            <a href="https://www.flugger.dk/kontakt/kontakt-os/levering-og-returnering/">Shipping and Returns</a>
            <a href="https://www.flugger.dk/kontakt/kontakt-os/reklamation/">Complaints</a>
            <a href="https://www.flugger.dk/privatlivspolitik/">Privacy Policy</a>
            <a href="https://www.flugger.dk/salgs-og-leveringsbetingelser/">Sales and Delivery Terms</a>
        </div>
        <div class="col col-5">
            <h3>We Support</h3>
            <a href="https://www.flugger.dk/flugger-andelen/saadan-fungerer-flugger-andelen/">Local Sports Clubs and Associations</a>
            <a href="https://danmarksindsamling.dk/">Denmark's Collection</a>
            <a href="https://www.danmarkplantertraeer.dk/">Denmark Plants Trees</a>
            <a href="https://www.flugger.dk/om-flugger/vi-stoetter/copenhagen-pride-2022/">Copenhagen Pride 2022</a>
        </div>
    </div>
</footer>



@code {
    
}