
<div class="footerContainer">
        <div class="ExtraLinks">
            <div>
                <a href="https://www.flugger.dk/kontakt/butikker/"><span class="oi oi-map-marker" aria-hidden="true"></span>Find butik nær dig</a>
            </div>
            <div><a href="https://www.flugger.dk/kontakt/kontakt-os/"><span class="oi oi-envelope-closed" aria-hidden="true"></span>Kundeservice</a></div>
        </div>
    <img class="logo" height="60" src="Images/logo.png" alt="Flügger"/>
    <div class="footerContent">
        <div class="col col-1">
            <p>Flügger Denmark A/S</p>
            <p>Islevdalvej 151</p>
            <p>2610 Rødovre</p>
        </div>
        <div class="col col-2">
            <h3>Farver, Inspiration og Guides</h3>
            <a href="https://www.flugger.dk/farver/">Alle Farver</a>
            <a href="https://www.flugger.dk/farver-og-farveproever/farvekort/">Farvekort</a>
            <a href="https://www.flugger.dk/inspiration-guide/inspiration/">Inspiration</a>
            <a href="https://www.flugger.dk/inspiration-guide/saadan-goer-du/">Sådan gør du</a>
            <a href="https://www.flugger.dk/hvad-skal-du-male/">Hvad skal du male?</a>
            <a href="https://www.flugger.dk/malingordbogen/">Malingordbogen</a>
        </div>
        <div class="col col-3">
            <h3>Om</h3>
            <a href="https://www.flugger.dk/om-flugger/">Flügger</a>
            <a href="https://www.flugger.dk/flugger-andelen/">Flügger andelen</a>
            <a href="https://www.flugger.dk/om-flugger/flugger-og-miljoeet/">Flügger og miløet</a>
            <a href="https://www.flugger.com/karriere/karriere-i-fl%C3%BCgger/">Karriere i Flügger</a>
            <a href="https://www.flugger.dk/tilmeld-nyhedsbrev/">Tilmeld nyhedsbrev</a>
        </div>
        <div class="col col-4">
            <h3>Hjælp & information</h3>
            <a href="https://shop.flugger.dk/soeg/?q=*&category=Produkter">Find datablade</a>
            <a href="https://www.flugger.dk/kontakt/">Kontakt</a>
            <a href="https://www.flugger.dk/kontakt/kontakt-os/levering-og-returnering/">Forsendelse og retur</a>
            <a href="https://www.flugger.dk/kontakt/kontakt-os/reklamation/">Reklamation</a>
            <a href="https://www.flugger.dk/privatlivspolitik/">Privatlivspolitik</a>
            <a href="https://www.flugger.dk/salgs-og-leveringsbetingelser/">Salg gg leveringsbetingelse</a>
        </div>
        <div class="col col-5">
            <h3>Vi støtter</h3>
            <a href="https://www.flugger.dk/flugger-andelen/saadan-fungerer-flugger-andelen/">Lokale Sportsklubber og foreninger</a>
            <a href="https://danmarksindsamling.dk/">Danmarks Indsamlingen</a>
            <a href="https://www.danmarkplantertraeer.dk/">Danmark Planter Træer</a>
            <a href="https://www.flugger.dk/om-flugger/vi-stoetter/copenhagen-pride-2022/">Copenhagen Pride 2022</a>
        </div>
    </div>
</div>


@code {
    
}