.center-carousel{
    margin-left: auto;
}
header{
    max-width: 70%;
    margin: auto;
}
#carouselExampleIndicators{
    margin: auto;
}
.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Adjust the height as needed */
}

.carousel {
    max-width: 100%;
    max-height: 340px;
    overflow: hidden;
}

.carousel-image {
    border-radius: 8px;
    object-fit: cover;
    max-width: 80%;
    max-height: 80%;
    transition: transform 0.3s ease-in-out; /* Add a smooth transition effect on hover */
}

/* Add this to your existing CSS or in a separate stylesheet */
.carousel-control-prev,
.carousel-control-next {
    color: black; /* Change this to the desired color */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black; /* Change this to the desired color */
}

/* Optionally, you can also change the color on hover */
.carousel-control-prev:hover,
.carousel-control-next:hover {
    color: #555; /* Change this to the desired hover color */
}

.carousel-control-prev:hover .carousel-control-prev-icon,
.carousel-control-next:hover .carousel-control-next-icon {
    background-color: #555; /* Change this to the desired hover color */
}

/* Add this to your existing CSS or in a separate stylesheet */

.carousel-item {
    position: relative;
}

.carousel-item:hover .carousel-image {
    transform: scale(1.1); /* Add a slight scale-up effect on hover */
}