@using Domain.Models
@inject NavigationManager NavigationManager

<div class="cardContainer" @onclick="NavigateToProductPage">
    <img class="cardImage" src="@ImgURL"/>
    <div class="cardContainerInner">
        <p class="cardHeader">@ColorName</p>
        <p class="cardText">@Amount L</p>
        <p class="cardText">@Price DKK</p>
        <p class="cardText">Expire Date: @Date</p>
        </div>
</div>

@code {
        [Parameter] public int Index { get; set; }
        [Parameter] public string ImgURL { get; set; }
        [Parameter] public string ColorName { get; set; }
        [Parameter] public double Amount { get; set; }
        [Parameter] public double Price { get; set; }
        [Parameter] public DateOnly Date { get; set; }
        
        [Parameter]public string Category { get; set; }
        [Parameter]public string? Surface { get; set; }
        [Parameter]public string? Shine { get; set; }
    
    
    
    public void NavigateToProductPage()
    {
        var product = new Product
        {
            ProductId = Index,
            IMGUrl = ImgURL,
            ColorName = ColorName,
            Amount = Amount,
            Price = Price,
            ExpireDate = Date,
            Category = Category,
            Surface = Surface,
            Shine = Shine
        };

    
        var url = $"/ProductPage/{product.ProductId}";

    // Navigate to ProductPage with the constructed URL
        NavigationManager.NavigateTo(url, true);
    }
}