
<div class="cardContainer">
    <img class="cardImage" src="@ImgURL"/>
    <div class="cardContainerInner">
        <p class="cardHeader">@ColorName</p>
        <p class="cardText">@Amount L</p>
        <p class="cardText">@Price DKK</p>
        <p class="cardText">Expire Date: @Date</p>
        </div>
</div>

@code {
        [Parameter] public int Index { get; set; }
        [Parameter] public string ImgURL { get; set; }
        [Parameter] public string ColorName { get; set; }
        [Parameter] public double Amount { get; set; }
        [Parameter] public double Price { get; set; }
        [Parameter] public DateOnly Date { get; set; }
}