
<div class="cardContainer">
    <img class="cardImage" src="@ImgURL"/>
    <div class="cardContainerInner">
        <p class="cardHeader">@ColorName</p>
        <p class="cardText">@Amount L</p>
        <p class="cardText">@Price DKK</p>
        <p class="cardText">Expire Date: @_date</p>
        </div>
</div>

@code {
        private const int Index = 1;
        private const string ImgURL = "https://assets.flugger.dk/static/ir/107720/32188_Colour%20Sample_01_0,38L_FARVEPR.png";
        private const string ColorName = "Navy Blue";
        private const double Amount = 0.5;
        private const double Price = 235;
        private DateOnly _date = new DateOnly(2024,12,30);




}