@page "/AboutUs"

<header>
    <h2 class="header2">About Us</h2>
</header>

<section>
    <h2 class="header3">Our Process</h2>
    <p>Welcome to Flügger Marketplace, where we are dedicated to sustainable practices in paint recycling. Our mission is to contribute to environmental conservation by promoting the reuse of quality paint.</p>

    <div class="two-column">
        <div class="column">
            <img class="AboutUsPic" src="https://assets.flugger.dk/cms/media/g2elybcl/malermester.jpg?width=760&height=570&quality=80&format=webp&rmode=Crop"/>
        </div>
        <div class="column">
            <p> Flügger's products have everything a painter needs to ensure the best possible result for their customers,
                and they are crafted with care and reciprocity. Our high standards have led to uncompromising coverage, range,
                and durability, where environmental impact, indoor climate, and recyclability are especially prioritized.
                In a world where resources and footprint play an increasingly significant role, several products are Swan-labeled or have received the Eco-label.
                This serves as your assurance and guarantee of low environmental impact when embarking on your do-it-yourself project.
            </p>  
            <p>We understand the needs of both the do-it-yourself consumer and the professional, where the starting point is the same:
                aiming for satisfaction of fundamental requirements without compromising on quality and efficiency.
                Based on this principle, we have created paints such as the Dekso series, Perform series, and Flutex-Pro series.
                You can confidently add your favorite color to the cart and order delivery directly to your door, 
                knowing with certainty that the paint has been thoroughly tested by professional painters.
            </p>
        </div> 
    </div>
    <h2 class="header3">Environmental Impact</h2>
    <div class="two-column">
   
        <div class="column">
      
            <img class="AboutUsPic" src="https://assets.flugger.dk/cms/media/pripciua/tapet.jpg?width=760&height=570&quality=80&format=webp&rmode=Crop"/>
        </div>
        <div class="column">
            <p> At Flügger, you will also find a wide range of wallpapers and tinted spackle. Flügger wallpapers offer you all the options to find precisely
                the one that suits you and your home. Treat your home and be inspired by our Fiona collection, which can be easily and quickly applied with non-woven technology.
                Simply apply the wallpaper with paste, as you would with felt and fiberglass wallpaper. It's not only significantly more convenient but also time-saving.
                Find all our wallpapers on Flügger.dk.</p>
            <p>
                Apply tinted spackle easily, possessing structural properties that bring life and depth to your home. Get started quickly and experience the joy of making
                your home more unique. With its short drying time, changing expressions, and interesting patterns, the combination of Nordic nature and New York flair can
                delight your decor. Enthusiasm and possibilities await, not only with aesthetic considerations but also with creativity and sensory impressions.
            </p>
            <p>
                Purchase your tinted spackle from the Danish brand DETALE on Flügger.dk. Experience for yourself how overwhelmingly fantastic spackle can enhance your home.
                Choose from a selection including KABRIC, KC14, and SPACE. Each one has its own unique qualities and appearance, where words can hardly describe the beautiful
                result and ease.
            </p>
        
        
        </div>
    </div>
</section>
  <p>&copy; 2023 Flügger Marketplace. All rights reserved.</p>
@code {
    
}