
/* Responsive Grid */
.productContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Responsive grid with a minimum item width of 200px */
    gap: 16px; /* Adjust the gap between items as needed */
    margin-left: 2%; /* Center the container horizontally */
    align-items: center;
}
@media screen and (max-width: 768px) {
    .productContainer {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Adjust the values for smaller screens */
    }
}

/* Filter System */
.filterInput {
    max-width: 130px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
}
.item {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.filterContainer {
    background-color: white;
    padding: 20px;
    margin-top: 1%;
    width: 50%;
}

.filter {
    max-width: 130px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
}

/* The Filter Button */
.filterButton {
    background-color: #FAFBFC;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px 15px; /* Adjust padding as needed */
    transition: background-color 0.2s ease-in-out;
}

.filterButton:hover {
    background-color: #F3F4F6;
    border-color: #b9b9b9;
}

.filterButton:disabled {
    background-color: #FAFBFC;
    border-color: #ccc;
    color: #959DA5;
    cursor: default;
}

.filterButton:focus {
    outline: none; /* Remove the outline */
}

/* Optional: Add a subtle border when focused */
.filterButton:focus-visible {
    box-shadow: 0 0 0 3px rgba(3, 102, 214, 0.3);
}