@page "/Colors"
<header>
    <h2 class="header2">Colors</h2>
</header>

<div class="filterContainer">
    <h3 class="header3">Filter Items</h3>
    <select id="category" class="filter">
        <option value="category1">All Paints</option>
        <option value="category2">Deal</option>
        <option value="category3">Room</option>
        <option value="category4">Bathroom</option>
        <option value="category5">Facade</option>
        <option value="category6">Garage</option>
        <option value="category7">Wood</option>
        <option value="category8">Window</option>
    </select>
    <select id="price" class="filter">
        <option value="highestToLowest">Highest > Lowest</option>
        <option value="LowestToHighest">Lowest > Highest</option>
    </select>
    <button class="filterButton">Filter</button>
</div>

<section>
    <h2 class="header3"> Our Colors, Your choose</h2>
    


</section>
  <p>&copy; 2023 Flügger Marketplace. All rights reserved.</p>
@code {
    
}