/* Define the styles for the image */
.indexIcon {
    width: 85px; /* Set the width of the image */
    height: auto; /* Maintain aspect ratio */
}

.Content {
    text-align: center;
    margin: 20px;
}

.container {
    display: flex;
    justify-content: center;
}
.header3{
    margin-bottom: 3%;
    margin-top: 3%;
}

.iconContainer {
    width: 100%;
    max-width: 900px;
    margin: 0 auto; /* Center the grid horizontally */
    margin-bottom: 3%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.iconContainer div {
    text-align: center;
}

