@using BlazorFlüggerSep.Shared.Components
@page "/"
    <div class="Content">
        <h2 class="header2">What do You Want to paint?</h2>
    </div>
<div class="iconContainer">
    <div><a href="https://www.google.com/" ><img class="indexIcon"src="/IndexIcons/Bathroom.png"/></a>Bathrom</div>
    <div><a href="https://www.google.com/" ><img class="indexIcon"src="/IndexIcons/Deal.png"/></a>Bathroom</div>
    <div><a href="https://www.google.com/" ><img class="indexIcon"src="/IndexIcons/Facade.png"/></a><h4>Bathroom</h4></div>
    <div><a href="https://www.google.com/" ><img class="indexIcon"src="/IndexIcons/Garage.png"/></a><h4>Bathroom</h4></div>
    <div><a href="https://www.google.com/" ><img class="indexIcon"src="/IndexIcons/Paintbrush.png"/></a><h4>Bathroom</h4></div>
    <div><a href="https://www.google.com/" ><img class="indexIcon"src="/IndexIcons/Room.png"/></a><h4>Bathroom</h4></div>
    <div><a href="https://www.google.com/" ><img class="indexIcon"src="/IndexIcons/Tree.png"/></a><h4>Bathroom</h4></div>
    <div><a href="https://www.google.com/" ><img class="indexIcon"src="/IndexIcons/Window.png"/></a><h4>Bathroom</h4></div>
</div>

<div class="center">
    <Carusel Images="list"/>
</div>
@code {
    List<string> list = new List<string> { "/Images/Paint Recycling recized.png" , "/Images/renovation-theme-paint-cans.png" };
}
