@page "/"
@using BlazorFlüggerSep.Shared.Components;

<header> <h2 class="header2">Welcome to Flügger Marketplace</h2></header>

<section>
<div class="Content">
            <h3 class="header3">What do You Want to paint?</h3>
    </div>
    <div class="iconContainer">
        <div><a href="https://www.google.com/" ><img class="indexIcon"src="/IndexIcons/Paintbrush.png"/></a><h4 class="header4">All Paints</h4></div>
        <div><a href="https://www.google.com/" ><img class="indexIcon"src="/IndexIcons/Deal.png"/></a><h4 class="header4">Our Deals</h4></div>
        <div><a href="https://www.google.com/" ><img class="indexIcon"src="/IndexIcons/Room.png"/></a><h4 class="header4">Room</h4></div>
        <div><a href="https://www.google.com/" ><img class="indexIcon"src="/IndexIcons/Bathroom.png"/></a><h4 class="header4">Bathroom</h4></div>
        <div><a href="https://www.google.com/" ><img class="indexIcon"src="/IndexIcons/Facade.png"/></a><h4 class="header4">Facade</h4></div>
        <div><a href="https://www.google.com/" ><img class="indexIcon"src="/IndexIcons/Garage.png"/></a><h4 class="header4">Garage</h4></div>
        <div><a href="https://www.google.com/" ><img class="indexIcon"src="/IndexIcons/Tree.png"/></a><h4 class="header4">Wood</h4></div>
        <div><a href="https://www.google.com/" ><img class="indexIcon"src="/IndexIcons/Window.png"/></a><h4 class="header4">Window and doors</h4></div>
    </div>
    <div class="Content">
                <h3 class="header3">We Care About The Environment</h3>
        </div>
    <header class="caruselHeader">
    <Carusel Images="list"/>
    </header>
</section>

@code {
    List<string> list = new List<string> { "https://www.undp.org/sites/g/files/zskgke326/files/migration/ba/GoGreen_twitter.jpg" , 
        "https://www.sciencefriday.com/wp-content/uploads/2021/07/Microplastics-feature-1124x684-1.jpg", 
        "https://www.palmetto-industries.com/wp-content/uploads/2022/05/Hazardous-Waste-2.jpg"
    };
}
