.center {

}
/* Define the styles for the image */
.indexIcon {
    width: 70px; /* Set the width of the image */
    height: auto; /* Maintain aspect ratio */
    transition: box-shadow 0.3s ease; /* Add a smooth transition effect */
}

.Content{
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
}
