header {
    background-color: #122568;
    color: #ecf0f1;
    padding: 1em;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

section {
    max-width: 1500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}


.two-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.column {
    flex-basis: calc(50% - 10px);
    margin-bottom: 20px;
    margin-top: 20px;
}

.ProductImg {
    width: 500px; /* Reduce image size to 75% */
    height: 250px;
    border-radius: 8px; /* Rounded corners for images */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 80px;
}
@media (max-width: 1401px) {
    .ProductImg {
        width: 100%; /* Set width to 100% for smaller screens */
        margin-left: 0; /* Adjust margin or remove if needed */
    }
    section {
        width: 100%; /* Set width to 100% for smaller screens */
        margin-left: 0; /* Adjust margin or remove if needed */
    }
}

/* Adjustments for text */
.column p {
    font-weight: bolder; /* Make text before the colon bold */
    margin-bottom:30px; /* Increase spacing between paragraphs */
}

/* Add this rule to reset styling for the "Description" class */
.two-column .column .Description {
    font-weight: normal;
    font-style: normal;
    font-size: 1em; 
    line-height: 1.5; 
    color: #333; 
    margin-bottom: 5px;
    margin-top: 8px;
    /* Add any other styling properties you want to reset */
}


.button-container {
    display: flex;
    justify-content: flex-start; /* Align items to the start (left) of the container */
    align-items: center;
    margin-top: 20px;
}

.button {
    background-color: #122568;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 1cm; /* Add a one-centimeter gap to the right of the button */
}

.button-container p {
    margin: 0; /* Remove default margin for the price paragraph */
    font-weight: bold;
}

.Itemtext{
    margin-top: 15px;
}

