@page "/Wherecanidropofmypaint"
<header>
    <h2 class="header2">How Do I Sell My Paint</h2>
</header>

<section>
     <h2 class="header3">Overview of our different drop off locations</h2>
    <div class="Textandimg">
        <div>
            <iframe class="map" src="https://www.google.com/maps/d/embed?mid=1dDCSbbjcYtXIGI54fYr83DUSOD6i-Ww&ehbc=2E312F" width="640" height="480"></iframe>
        </div>
        <p>If you have unused or expired paint to dispose of, we offer convenient drop-off locations for proper disposal. Here's where you can drop off your paint:</p>

        <ul>
            <li><strong>Main Recycling Center:</strong> Our main recycling center is located at [Address]. Feel free to visit during our business hours to drop off your paint.</li>
            <li><strong>Community Collection Points:</strong> We have established community collection points at various locations throughout the city. Check the map above for the nearest drop-off point to your location.</li>
            <li><strong>Mobile Collection Events:</strong> Periodically, we organize mobile collection events at different locations. Stay tuned for announcements on upcoming events in your area.</li>
        </ul>

        <p>Proper disposal of paint helps protect the environment and ensures that hazardous materials are handled responsibly. Use the map above to find the most convenient drop-off location for you.</p>


    </div>
</section>
  <p>&copy; 2023 Flügger Marketplace. All rights reserved.</p>
@code {
    
}