@using BlazorFlüggerSep.Shared.Components
@page "/WhyBuyRecycled"

<header>
    <h2 class="header2">Why Buy Recycled</h2>
</header>

<section>
    <h2 class="header3">Save money and help the plant</h2>
    <p>Buying second-hand paint is a sustainable and cost-effective choice that comes with numerous benefits for both consumers and the environment. Here are compelling reasons to consider purchasing pre-owned paint:</p>

    <ul>
        <li><strong>Cost Savings:</strong> Second-hand paint is often available at a fraction of the cost compared to new paint. This can result in significant savings for consumers, making home improvement projects more budget-friendly.</li>
        <li><strong>Reduced Environmental Impact:</strong> By opting for second-hand paint, you contribute to the reduction of waste and minimize the demand for new paint production. This helps in conserving resources and decreasing the environmental footprint associated with the manufacturing process.</li>
        <li><strong>Unique Color Options:</strong> Second-hand paint may offer a variety of unique and discontinued colors that are no longer available in stores. This allows consumers to explore and experiment with a broader range of color options for their projects.</li>
        <li><strong>Support for Circular Economy:</strong> Purchasing second-hand paint aligns with the principles of a circular economy by extending the life cycle of products. It promotes reuse and recycling, contributing to a more sustainable and eco-friendly approach to consumption.</li>
    </ul>

    <Carusel Images="List"/>

    <p>Make a sustainable choice today by exploring the world of second-hand paint. Embrace the benefits for your wallet, the environment, and your creative projects.</p>
</section>

<img src="https://aios.horisontgruppen.dk/images/w1536/2f5b2275-73b2-424e-9b5c-c09d06852f26.jpg" alt="Description of the image">
        <p>&copy; 2023 Flügger Marketplace. All rights reserved.</p>

@code {
    List<string> List = new List<string> { "https://flugger-vanlose.dk/wp-content/uploads/2023/07/wall-serie-scaled.jpg" , "https://flugger-naerum.dk/wp-content/uploads/2021/03/06-wood-tex-oljemaling-v-500x500-1.png", "https://m.media-amazon.com/images/I/71+sG0WcimL._AC_UF1000,1000_QL80_.jpg"  };
}