@page "/"

<PageTitle>Index</PageTitle>

<body>
<header>
    <h2 class="header2">Welcome to Flügger Marketplace Admin Dashboard</h2>
    <p>Your platform for managing the marketplace</p>
</header>
<br/>

 <table class="table">
     <thead>
     <tr>
         <th><h5>Product Management</h5></th>
         <th><h5>Order Tracking</h5></th>
         <th><h5>Voucher Management</h5></th>
     </tr>
     </thead>
     <tbody>
         <td> <p>
                 Add, edit, or remove products from the marketplace. 
                 <br/>Ensure that product details are accurate and up-to-date to provide the best shopping experience for customers.
                 <br/><br/>
             </p>
             <p>
                 <img class="icon" src="img/wallpaint.jpg">
                 <br/>
                 <a href="http://localhost:5231/product">Manage Products</a>
             </p></td>
         <td>
             <p>
                 Keep track of incoming orders, manage order fulfillment, and ensure timely delivery to customers.
                 <br/>
                 <br/><br/>
                 
             </p>
             <p>
                 <img class="icon" src="img/orderplaced.jpg">
                 <br/>
                 <a href="http://localhost:5231/viewOrder">View Orders</a>

             </p>
         </td>
         <td>
             <p>
                 Create and manage vouchers to offer special discounts to customers. 
                 <br/>Monitor voucher usage and expiration dates for effective marketing campaigns.
             </p>
             <p>
                 <img class="icon" src="img/voucher.jpg">
                 <br/>
                 <a href="http://localhost:5231/Voucher">Manage Vouchers</a>
             </p>  
         </td>
      </tbody>
 </table>

    <footer>
        &copy; 2023 Flügger Marketplace. All rights reserved.
    </footer>
</body>